<div class="container-users">
  <% @users.each do |user| %>
    <div class="userInfo">
      <img src="<%= user.photo %>" alt="user photo" class="userImage">
      <%= user_details(user) %>
    </div>
  <% end %>
</div>