<html>
  <head>
    <%= stylesheet_link_tag 'users' %>
  </head>
  <body>
    <%= render_flash_messages %>
    <div class="titleContainer">
      <p id='title'>List of Users</p>
    </div>
    <%= render 'users_display' %>
  </body>
</html>
