<div class="users-posts">
<% @user.recent_posts.each do |post| %> 
    <div class="post">
      <h4><%= link_to post.title, user_posts_path(user_id: post.author_id), class: 'custom-link-s' %></h4>
      <p><%= post.text %></p>
    </div>
  <% end %>
</div