<div class="usersPosts">
<% @user.recent_posts.each do |post| %> 
    <div class="post">
      <h4><%= link_to post.title, user_post_path(user_id: post.author_id), class: 'custom-link-s' %></h4>
      <p><%= post.text %></p>
      <p class="commentsLikes">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
    </div>
  <% end %>
</div>