<div class="userCard">
  <img src="<%= @user.photo %>" alt="user Photo" class="photo">
  <div class="userDetails">
    <h2 class="useName"><%= @user.name %></h2>
    <p class="postsCounter">Number of posts: <%= @user.posts_counter %></p>
  </div>
</div>
