<html>
  <head>
    <%= stylesheet_link_tag 'post' %>
  </head>

  <body>
    <%= render 'post_card' %>
    <%= render_comments_section(@post) %>
    <button class="btn btn-primary">
    <%= link_to "Add a Comment", new_form_comment_path(post_id: @post.id) %>
    </button>
  </body>
</html>